<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Argentum Web</title>
</h:head> 
<h:body>
	<h:form>
		<h:panelGrid columns="5">
			<h:outputLabel value="Media Móvel: " />
			<p:selectOneButton value="#{argentumBean.nomeMedia}">
				<f:selectItem itemLabel="Simples" itemValue="MediaMovelSimples"/>
				<f:selectItem itemLabel="Ponderada" itemValue="MediaMovelPonderada"/>
			</p:selectOneButton>
			
			<h:outputLabel value="Indicador Base: " />
			<p:selectOneButton value="#{argentumBean.nomeIndicadorBase}">
				<f:selectItem itemLabel="Abertura" itemValue="IndicadorAbertura"/>
				<f:selectItem itemLabel="Fechamento" itemValue="IndicadorFechamento"/>
			</p:selectOneButton>
			
			<p:commandButton value="Gerar gráfico" update=":grafico" action="#{argentumBean.geraGrafico}"/>
		</h:panelGrid>
	</h:form>
	<p:chart type="line" model="#{argentumBean.modeloGrafico}" id="grafico" />
	<h:form>
		<p:dataTable var="negociacao" value="#{argentumBean.negociacoes}" paginator="true" rows="15">
			<p:column sortBy="#{negociacao.preco}" headerText="Preço">
				<h:outputText value="#{negociacao.preco}" />
			</p:column>
			<p:column headerText="Quantidade">
				<h:outputText value="#{negociacao.quantidade}" />
			</p:column>
			<p:column headerText="Volume">
				<h:outputText value="#{negociacao.volume}" />
			</p:column>
			<p:column headerText="Data">
				<h:outputText value="#{negociacao.data.time}" >
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
			</p:column>
		</p:dataTable>					
	</h:form>
	
</h:body>
</html>
